
.confirm-table2 {
    .firstRow {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    word-break: break-word;
    }
    .mat-list-item {
    min-height: 48px;
    height: auto !important;
    word-break: break-word;
    padding:10px 0px;
    }
    .mat-list-item {
        min-height: 48px;
        height: auto !important;
        word-break: break-word;
        padding:10px 0px;
    }
    .firstRow:last-child{
    border-bottom: none;
    }
    .firstRow:nth-of-type(odd) {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    }
    
    }
    .name-logo{
        border-radius: 5px;
        width: 220px;
        -o-object-fit: cover;
        object-fit: cover;
        max-height: 60px;
    }
 