<div id="create-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="center center">
    <div id="create-password-form-wrapper" class="my-24">
        <div id="create-password-form">
            <div class="logo">
                <img src="assets/images/logos/name-logo.png">
            </div>
            <div class="title text-center">Welcome to Academy Front</div>
            <div class="font-size-16 primary-300-fg pt-12 text-center">{{titleMessage}}</div>
            <form [formGroup]="createPasswordForm" name="createPasswordForm" (ngSubmit)="onSubmit(createPasswordForm)">
                <mat-form-field appearance="outline">
                    <mat-label translate>email</mat-label>
                    <input matInput readonly="true" disabled="true" id="email" formControlName="email">
                </mat-form-field>

                <mat-form-field appearance="outline" class="pt-12">
                    <mat-label #password translate>password</mat-label>
                    <input (keyup)="preventSpace($event,'createPasswordForm','password')" matInput type="password" id="password"
                        formControlName="password">
                    <mat-error *ngIf="createPasswordForm.get('password').hasError('required')">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="!createPasswordForm.get('password').hasError('required') &&
                            createPasswordForm.get('password').hasError('pattern')">
                            Password must contain at least one uppercase, one numeric digit and minimum length of 8 characters.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="pt-12">
                    <mat-label #confirmpassword translate>confirmpassword</mat-label>
                    <input (keyup)="preventSpace($event,'createPasswordForm','confirmPassword')" matInput type="password" id="confirmpassword"
                        formControlName="confirmPassword">
                    <mat-error *ngIf="createPasswordForm.get('confirmPassword').hasError('required')">
                        Confirm Password is required
                    </mat-error>
                    <mat-error *ngIf=" createPasswordForm.get('confirmPassword').hasError('mustMatch')">
                        <span>Password not matched</span>
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button text-uppercase mt-12 text-uppercase w-100-p"
                    color="accent" aria-label="create MY PASSWORD">
                    {{'submit' | translate}}
                </button>
            </form>
        </div>
    </div>
</div>
