<div class="px-sm-40 ">
    <div class="text-uppercase font-size-18 pl-12 pb-12 pt-28" translate>News</div>
    <div class="mat-elevation-z2 simple-table-container radius-t-20 p-24" >
        <form [formGroup]="studentNewsForm">
            <div fxLayout="column" fxLayout.gt-sm="row">
                <mat-form-field fxFlexFill appearance="outline" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50"
                    class="icon-center">
                    <mat-label translate #announceDate>Date</mat-label>
                    <input matInput (keyup)="forceValidation('announcedDate',studentNewsForm)"
                        formControlName="announcedDate" [matDatepicker]="picker" placeholder="Choose date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error>
                        <app-validation labelName="Date"
                                        [validationControl]="studentNewsForm.controls.announcedDate" [doValidate]="true">
                        </app-validation>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width" fxLayout="column" fxFlex="100"
                    fxFlex.gt-sm="50" class="px-sm-20">
                    <mat-label #description translate>Description</mat-label>
                    <textarea formControlName="eventDescription" matInput placeholder="Description"></textarea>
                </mat-form-field>
                <div>
                    <button (click)="onSubmitEvent()" mat-raised-button type="submit" color="accent" class="mt-24">{{'SEARCH' | translate}}</button>
                </div>
            </div>
        </form>
        <div infinite-scroll [scrollWindow]="false" [infiniteScrollDistance]="scrollDistance"
            [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle"
            (scrolled)="onScrollDown()" class="news-events border radius-5" *ngIf="newsItems.length">
            <div  *ngFor="let newsItem of newsItems" fxLayout="row" class="p-24 even">
                    <!-- <div fxLayout="column" fxFlex="0 1 auto" class="pr-24 secondary-text h2">{{ getFormattedDateBySchoolDateFormat(newsItem.announcedDate)}}</div> -->
                    <div fxLayout="column"  class="pr-24 w-200">
                        <div fxLayout="row">
                            <div class="font-size-40 pr-8 orange-fg">{{newsItem.announcedDate | date:'dd'}}</div>
                            <div fxLayout="column">
                                <span class="font-size-18 blue-grey-fg">{{newsItem.announcedDate | date:'EEEE'}}</span>
                                <span class="secondary-text">{{newsItem.announcedDate | date:'LLL'}} {{newsItem.announcedDate | date:'yyyy'}}</span>
                               
                            </div>
                        </div>
                    </div>
                    <div fxLayout="column">                    
                       <div class="pb-4 font-weignt-800 break-word">{{newsItem.eventDescription}}</div> 
                       <a target="_blank" *ngIf="newsItem.attachmentUrl" [href]="newsItem.attachmentUrl" translate>View Attachment</a> 
                    </div>
            </div>
        </div>
        <h2 class="text-center" *ngIf="!newsItems.length && onLoadApi">No Result Found</h2>
    </div>
</div>
