<app-table [settings]="tabSettings" [closeRowForm]='closeAddPanel' (getTableData)='getAllSequenceConfiguration($event)'
    (rowBasedAction)="rowWiseActions($event)" [disabled]="disableSubmitBtn" [templateRef]="addSequnceTemplate"
    [closeAddForm]="closeAddPanel" (openAddForm)="onAddFormClick()">
</app-table>

<ng-template #addSequnceTemplate>
    <form [formGroup]="sequenceForm" (ngSubmit)="onSubmit(sequenceForm,true)" #sequnce="ngForm">
        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" class="pt-24">
            <mat-form-field fxFlexFill appearance="outline" fxLayout="column" fxFlex="100">
                <mat-label #sequenceCategoryId translate>Sequence Category</mat-label>
                <mat-select formControlName="sequenceCategoryId" (selectionChange)="onSequenceCategorySelect($event)"
                    required>
                    <mat-option value="option1" *ngFor="let sequencecategorytype of sequenceCategoryTypesdropdown"
                        [value]="sequencecategorytype.id" ngDefaultControl>
                        {{sequencecategorytype.name}}
                    </mat-option>
                </mat-select>

                <mat-error>
                    <app-validation [labelName]='sequenceCategoryId.innerText'
                        [validationControl]="sequenceForm.controls.sequenceCategoryId"
                        [doValidate]="sequenceFormSubmitted">
                    </app-validation>
                </mat-error>
            </mat-form-field>
            <div>
                <span class="red-text" translate>{{sequenceErrMsg}}</span>
            </div>

            <mat-form-field fxFlexFill appearance="outline" fxLayout="column" fxFlex="100" class="px-sm-20">
                <mat-label #sequenceParameterId translate>Sequence Parameter</mat-label>
                <mat-select formControlName="sequenceParameterId" (blur)="trimTextBoxSpacess()" (selectionChange)="onSequenceSelect($event)" [required]="submitted ? false : true">
                    <mat-option value="option1" *ngFor="let sequenceparameterType of sequnceParameterList"
                        [disabled]="sequenceparameterType.disabled" [value]="sequenceparameterType.value"
                        ngDefaultControl>
                        {{sequenceparameterType.label}}
                    </mat-option>
                </mat-select>
                <label class="error-msg messages text-left text-danger" [hidden]="isSequenceNumberError">{{sequenceNumberErrorMsg
                    | translate}}</label>
            </mat-form-field>

            <mat-form-field  fxFlexFill appearance="outline" fxLayout="column" fxFlex="100">
                <mat-label #sequencecode translate>{{dynamicPlaceholder | translate}}</mat-label>
                <input matInput #code [required]="sequenceCodeRequired ? true : false" formControlName="sequencecode"
                   (keydown.space)="$event.preventDefault()">
                    <mat-error>
                        <app-validation [labelName]='sequencecode.innerText'
                        [validationControl]="sequenceForm.controls.sequencecode"
                        [doValidate]="'true'">
                    </app-validation>
                    </mat-error>
            </mat-form-field>

            <div>
                <button mat-raised-button class="ml-12 mt-16 text-uppercase" [disabled]="isValid" type="button"
                    color="accent"
                    (click)="onSequenceYes(sequenceForm.controls.sequenceParameterId.value)">{{'Select' | translate}}</button>
            </div>
        </div>
        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" class="pt-12">
            <mat-form-field fxFlexFill appearance="outline" fxLayout="column" fxFlex="100">
                <mat-label #sequenceformat translate>Sequence Format</mat-label>
                <input matInput formControlName="sequenceformat" autocomplete="off" (keyup)="preventSpace($event,'sequenceForm','sequenceformat')"
                    readonly required>
                    <mat-error>
                        <span>{{requiredSequence}}</span>
                    </mat-error>
            </mat-form-field>


            <div>
                <button mat-icon-button class="ml-12 mt-16" type="button" (click)="onClearSequenceFormat()">
                    <mat-icon>clear</mat-icon>
                </button>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" class="pb-16">
            <button mat-raised-button class="mr-12 text-uppercase" type="button" (click)="cancel()">{{'Cancel' | translate}}</button>
            <button mat-raised-button class="text-uppercase" type="submit" color="accent">{{'Create' | translate}}</button>
        </div>
    </form>
</ng-template>
