
// .manage-fee{
//     .mat-form-field, .mw-120{
//         max-width: 120px !important;
//     }
// }
.feetype-Error{
    position: relative;
    .mat-error{
        position: absolute;
        right: 0px;
        top: 48px;
        font-size: 13px;
    }
}
.scroll-y-auto{overflow-y: auto}
