.tick-position{
    position: absolute;
    right: 0px;
};

.spinner-position{
    position: absolute;
    right: 0px;
    top:10px;
}

.textarea-loader-position{
    position: absolute;
    right: -38px;
    top: 20px;
}