<div class="p-40">
  <div class="text-uppercase font-size-18 p-12"  translate>Awards & Recognitions</div>
  <div *ngIf="awards?.length" class="mat-elevation-z2 simple-table-container radius-t-20 p-24">
    <div class="search-results" infinite-scroll [scrollWindow]="false" [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
      <div *ngFor="let award of awards" class="border radius-5 mb-20 p-8">
        <div fxLayout="row wrap" fxFlex="100" >
          <div fxLayout="column" fxFlex.gt-sm="50" fxFlex="100" class="px-12">
            <div fxLayout="row" fxFlex="100" class="py-8 font-size-16">
              <div class="w-200 break-word" translate>Event</div>
              :&nbsp;&nbsp;<div fxFlex="100" class="break-word font-weight-600">{{award.eventDescription}}</div>
            </div>
          </div>
          <div fxLayout="column" fxFlex.gt-sm="50" fxFlex="100" class="px-12">
            <div fxLayout="row" fxFlex="100" class="py-8 font-size-16">
              <div class="w-200 break-word" translate>Result</div>
              :&nbsp;&nbsp;<div fxFlex="100" class="break-word font-weight-600">{{award.result}}</div>
            </div>
          </div>
          <div fxLayout="column" fxFlex.gt-sm="50" fxFlex="100" class="px-12">
            <div fxLayout="row" fxFlex="100" class="py-8 font-size-16">
              <div class="w-200 break-word" translate>From Date</div>
              :&nbsp;&nbsp;<div fxFlex="100" class="break-word font-weight-600">{{award.fromDate}}</div>
            </div>
          </div>

          <div fxLayout="column" *ngIf="award.winningPosition" fxFlex.gt-sm="50" fxFlex="100" class="px-12">
            <div fxLayout="row" fxFlex="100" class="py-8 font-size-16">
              <div class="w-200 break-word" translate>Position</div>
              :&nbsp;&nbsp;<div fxFlex="100" class="break-word font-weight-600">{{award.winningPosition}}</div>
            </div>
          </div>
          <div fxLayout="column" fxFlex.gt-sm="50" fxFlex="100" class="px-12">
            <div fxLayout="row" fxFlex="100" class="py-8 font-size-16">
              <div class="w-200 break-word" translate>To Date</div>
              :&nbsp;&nbsp;<div fxFlex="100" class="break-word font-weight-600">{{award.toDate}}</div>
            </div>
          </div>
          
              <a fxLayout="column" fxFlex.gt-sm="50" fxFlex="100" class="px-12" *ngIf="award.attachmentUrl" target="_blank" [href]="award.attachmentUrl" translate>View Attachment</a>
         
        </div>
      </div>
    </div>
  </div>
  <div class="mat-elevation-z2 simple-table-container radius-t-20 ">
    <h3 class="text-center secondary-text p-24" *ngIf="!awards?.length && onLoadApi">No Awards Found for this Student</h3> 
  </div>
</div>