<div class="p-sm-40" fxLayout="column">
  <div class="px-16 font-size-18 text-uppercase"><span translate>Invoice Generation</span></div>
  <div class="mat-elevation-z8 simple-table-container radius-t-20">
    <div fxLayoutAlign="end center" class="border-bottom p-20">
        <button (click)="getHelpText('Invoice generation')" mat-button>
            <mat-icon class="grey-600-fg">info</mat-icon>
          </button>
    </div>  
    <form [formGroup]="generateInvoiceFormGroup" fxLayout="column" #invoiceForm="ngForm"
      (ngSubmit)="submitForm(generateInvoiceFormGroup.value)" autocomplete="off" #form="ngForm" class="p-20">
      <div fxLayout.gt-sm="row" fxLayout="column" class="pt-12">
        <mat-form-field appearance="outline" fxFlexFill fxLayout="column" fxFlex="100" fxFlex.gt-sm="30"
          class="pr-sm-20">
          <mat-label translate #term>Fee Term</mat-label>
          <mat-select required name="feeTermId" formControlName="feeTermId">
            <mat-option *ngFor="let feeTerm of feeTermsList" [value]="feeTerm.value">
              {{feeTerm.label}}
            </mat-option>
          </mat-select>
          <mat-error>
            <app-validation [labelName]="term.innerText"
              [validationControl]="generateInvoiceFormGroup.controls.feeTermId" [doValidate]="doValidate">
            </app-validation>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="pr-sm-20" fxLayout="column" fxFlex="100" fxFlex.gt-sm="30"
          fxFlexFil>
          <mat-label #board translate>Board</mat-label>
          <mat-select formControlName="boardId" (selectionChange)="onBoardSelect($event)">
            <mat-option></mat-option>
            <mat-option *ngFor="let board of availableSchoolBoards" [value]="board.value">
              {{board.label}}
            </mat-option>
          </mat-select>

        </mat-form-field>



        <mat-form-field appearance="outline" class="pr-sm-20" fxLayout="column" fxFlex="100" fxFlex.gt-sm="30"
          fxFlexFil>
          <mat-label #class translate>Class</mat-label>
          <mat-select formControlName="classId" (selectionChange)="onClassChange($event.value)">
            <mat-option *ngIf="availableClasses?.length"></mat-option>
            <mat-option [style.display]="generateInvoiceFormGroup.value.boardId ? 'block': 'none'" *ngFor="let availableClass of availableClasses" [value]="availableClass.value">
              {{availableClass.label}}
            </mat-option>
          </mat-select>

        </mat-form-field>

        <mat-form-field appearance="outline" fxLayout="column" fxFlex="100" fxFlex.gt-sm="30"
          fxFlexFil>
          <mat-label #section translate>Section</mat-label>
          <mat-select formControlName="sectionId" (selectionChange)="onSectionChange($event.value)">
            <mat-option *ngIf="availableSections?.length"></mat-option>
            <mat-option *ngFor="let availableSection of availableSections" [value]="availableSection.value">
              {{availableSection.label}}
            </mat-option>
          </mat-select>

        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="end center">
          <button class="mr-12 text-uppercase" mat-raised-button type="button" (click)="onClearClick()">{{'Clear' | translate}}</button>
        <button mat-raised-button type="submit" class="text-uppercase" color="accent">{{'Generate' | translate}}</button>
      </div>
    </form>
  </div>


  <div class="mat-elevation-z8 simple-table-container mt-32 p-40" *ngIf="resultData.length">
    <mat-list *ngFor="let data of resultData" fxLayout.gt-xs="row wrap" fxFlex.gt-xs="80" fxFlex="100"
      fxLayout.lt-sm="column" class="pt-0 border m-auto confirm-table">
      <mat-list-item fxLayout="column" fxFlex.gt-xs="80"><span translate>{{data.label}}</span>
      </mat-list-item>
      <mat-list-item fxLayout="column" fxFlex.gt-xs="20">
        {{data.value}}
      </mat-list-item>
    </mat-list>
  </div>
</div>